@{
    var breadcrumbs = ViewData.GetBreadcrumbs();
    if (breadcrumbs.Count > 0)
    {
        int orderMax = breadcrumbs.Select(x => x.Order).Max();
        <nav aria-label="breadcrumb" class="float-left d-inline-block p-2 w-100">
            <ol class="breadcrumb border-0 m-0 ml-2 border-radius-0 pt-0 pb-0 pl-0">
                @foreach (var breadcrumb in breadcrumbs.OrderBy(x => x.Order))
                {
                    @if (breadcrumb.Active)
                    {
                        if (!string.IsNullOrEmpty(breadcrumb.ParameterValue))
                        {
                            breadcrumb.ParameterValue = ViewData[breadcrumb.ParameterValue].ToString();
                        }

                        @if (breadcrumb.Title.StartsWith("[") && breadcrumb.Title.EndsWith("]"))
                        {
                            <li class="mr-2">
                                <a title="@ViewData[breadcrumb.Title]" class="btn btn-primary btn-sm p-1" href="@breadcrumb.ActionLink">@ViewData[breadcrumb.Title]</a>
                            </li>
                        }
                        else
                        {
                            <li class="mr-2">
                                <a title="@breadcrumb.Title" class="btn btn-primary btn-sm p-1" href="@breadcrumb.ActionLink">@breadcrumb.Title</a>
                            </li>
                        }

                    }
                    else
                    {
                        if (breadcrumb.Title.StartsWith("[") && breadcrumb.Title.EndsWith("]"))
                        {
                            <li @((breadcrumb.Order == orderMax) ? "aria-current=\"page\"" : "")>
                                <a title="@ViewData[breadcrumb.Title]" class="btn btn-outline-light btn-disabled p-1 mr-2 cursor-normal text-light-gray @HtmlUtilities.BreadcrumbOrderMaxClass(breadcrumb.Order, orderMax)">@ViewData[breadcrumb.Title]</a>
                            </li>
                        }
                        else
                        {
                            <li @((breadcrumb.Order == orderMax) ? "aria-current=\"page\"" : "")>
                                <a title="@breadcrumb.Title" class="btn btn-outline-light btn-disabled p-1 mr-2 cursor-normal text-light-gray @HtmlUtilities.BreadcrumbOrderMaxClass(breadcrumb.Order, orderMax)">@breadcrumb.Title</a>
                            </li>
                        }
                    }
                }
            </ol>
        </nav>
    }
}