@using Microsoft.AspNetCore.Http.Extensions
@model DeleteLoggerEntityFormModel

<form 
    asp-controller="AdminLogging" 
    asp-action="DeleteLog" 
    asp-route-logType="@Model.LoggerEntityType" 
    method="post"
    class="@Model.FormClasses"
    onsubmit="showConfirmationMessage(event, 'Delete Log', 'Are you sure you want to delete this log?')">
    <input type="hidden" name="LogId" value="@Model.EntityId"/>
    <input type="hidden" name="ReturnUrl" value="@Context.Request.GetEncodedPathAndQuery()"/>
    <button type="submit" title="Delete" class="@Model.ButtonClasses" >
        <i class="mdi @Model.ButtonIconClasses"></i>@Model.ButtonText
    </button>
</form>