<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center navbar-brand-md-inverse-color">
        <a class="navbar-brand brand-logo" href="@Url.Action("Index", "AdminDashboard")">
            <img src="~/admin/images/logo_text_white.svg" alt="Definux" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index", "AdminDashboard")">
            <img src="~/admin/images/logo_white.svg" alt="Definux" />
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="addon-navbar navbar-nav navbar-nav-left header-links d-none d-md-flex p-0">
            @{
                var navigationActions = ViewData.GetNavigationActions();
                if (navigationActions.Count > 0)
                {
                    foreach (var navigationAction in navigationActions)
                    {
                        string targetAttribute = navigationAction.SeparatePage ? "_blank" : "_parent";
                        <li class="nav-item p-1">
                            @if (navigationAction.Method == System.Net.Http.HttpMethod.Get)
                            {
                                <a href="@navigationAction.ActionUrl" target="@targetAttribute" class="nav-link btn btn-secondary h-auto">
                                    <span class="mdi @navigationAction.Icon mr-1"></span> @navigationAction.Name
                                </a>
                            }
                            else if (navigationAction.Method == System.Net.Http.HttpMethod.Post)
                            {
                                <form method="@navigationAction.Method" target="@targetAttribute" action="@navigationAction.ActionUrl" onsubmit="@(navigationAction.HasConfirmation ? $"showConfirmationMessage(event, '{navigationAction.ConfirmationTitle}', '{navigationAction.ConfirmationMessage}')" : string.Empty)">
                                    @Html.AntiForgeryToken()
                                    @if (navigationAction.Parameters != null && navigationAction.Parameters.Count > 0)
                                    {
                                        foreach (var navigationActionParameter in navigationAction.Parameters)
                                        {
                                            <input type="hidden" name="@navigationActionParameter.Key" value="@navigationActionParameter.Value" />
                                        }
                                    }
                                    <button type="submit" class="nav-link btn btn-secondary h-auto"><span class="mdi @navigationAction.Icon mr-1"></span> @navigationAction.Name</button>
                                </form>
                            }
                        </li>
                    }
                }
            }
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-inline-block mr-0">
                <a class="nav-link navbar-user-dropdown" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <span class="profile-text m-0"><user-name></user-name> <span class="ml-2 mdi mdi-account-box"></span></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown py-2" aria-labelledby="UserDropdown">
                    <a title="Two Factor Authentication" href="@Url.Action("TwoFactorAuthentication", "AdminManage", new { Area = "Admin"})" class="dropdown-item">Two Factor Authentication</a>
                    <a title="Change Password" href="@Url.Action("ChangePassword", "AdminManage", new { Area = "Admin"})" class="dropdown-item">Change Password</a>
                    <form class="m-0 p-0" asp-action="Logout" asp-controller="AdminAuthentication">
                        <input type="submit" class="dropdown-item text-left bg-transparent shadow-none border-0 w-100" value="Sign Out" />
                    </form>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center p-0" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>