@using Microsoft.AspNetCore.Http.Extensions
@model Definux.Emeraude.Admin.UI.ViewModels.Logging.EmailsLogsViewModel
@{ 
    Layout = "_LoggerSubLayout";
    ViewData.SetTitle("Email Logs");
    var tablePagination = new TablePaginationViewModel(Model.CurrentPage, Model.PagesCount);
    ViewData["LoggerTablePagination"] = tablePagination;
    var modalsViewModels = new List<ModalViewModel>();
}

<default-table column-1="Id"
               column-2="Subject"
               column-3="Receiver"
               column-4="Sent"
               column-5="Involved User"
               column-6="Created On"
               column-7="">
    @foreach (var emailLog in Model.Items)
    {
        var bodyModal = new ModalViewModel
        {
            LunchButtonClasses = "btn btn-icons action-btn btn-primary",
            LunchButtonIcon = "<i class=\"mdi mdi-email-search-outline m-0\"></i>",
            ModalId = $"email-body-modal-{emailLog.Id}",
            Type = ModalType.Large,
            ModalHeaderClasses = "pb-0",
            ModalBodyClasses = "py-0",
            Content = $"<div>{emailLog.Body}</div>",
            ContentClass = "p-2 border overflow-wrap-anywhere",
            IsContentHtml = true,
            Title = "Body",
            HasCloseButton = true
        };
        
        modalsViewModels.Add(bodyModal);
        
        <tr>
            <td default-table-cell="true">
                @emailLog.Id
            </td>
            <td default-table-cell="true">
                @emailLog.Subject
            </td>
            <td default-table-cell="true">
                @emailLog.Receiver
            </td>
            <td default-table-cell="true">
                <flag value="@emailLog.Sent"/>
            </td>
            <td default-table-cell="true">
                @(emailLog.InvolvedUser != null ? $"{emailLog.InvolvedUser.Name} ({emailLog.InvolvedUser.Email})" : string.Empty)
            </td>
            <td default-table-cell="true">
                @emailLog.CreatedOn
            </td>
            <td default-table-cell="true" fit="true">
                <partial name="_ModalLunchButton" model="bodyModal"/>
                @{
                    var deleteLoggerEntityFormModel = new DeleteLoggerEntityFormModel
                    {
                        EntityId = emailLog.Id,
                        LoggerEntityType = "emails",
                        FormClasses = "d-inline-block",
                        ButtonClasses = "btn btn-icons action-btn btn-primary",
                        ButtonIconClasses = "mdi mdi-delete",
                    };
                }
                <partial name="_DeleteLoggerEntityForm" model="deleteLoggerEntityFormModel"/>
            </td>
        </tr>
    }
</default-table>

@foreach (var modalViewModel in modalsViewModels)
{
    <partial name="_Modal" model="@modalViewModel"/>
}