@model SelectableGalleryViewModel
@{ 
    ViewData.SetTitle("Select From Gallery");
}

    <div class="col-12 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Select image</h4>
                <form asp-controller="@Model.Controller" asp-action="@Model.Action" id="selectable-gallery">
                    <div class="row">
                        @foreach (var pictureUrl in Model.Pictures)
                        {
                            <div class="col-3 nopad text-center">
                                <label class="image-radio">
                                    <img class="w-100 p-1" src="@pictureUrl" />
                                    @if (pictureUrl == Model.SelectedPicture)
                                    {
                                        <input type="radio" asp-for="SelectedPicture" value="@pictureUrl" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="radio" asp-for="SelectedPicture" value="@pictureUrl" />
                                    }
                                </label>
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="form-group mb-0">
                        <button type="submit" class="d-flex btn btn-primary mt-2 ml-auto mr-0">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>