@model Definux.Emeraude.Application.Requests.Identity.Commands.ForgotPassword.ForgotPasswordCommand
@{
    Layout = "_AuthLayout";
    ViewData.SetTitle("Forgot Password");
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/ForgotPassword.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<form action="@Url.ForgotPasswordAction()" method="post" class="auth-form">
    <h5 class="text-center">Forgot Password</h5>
    @if (Html.HasNonModelError())
    {
        <div class="alert alert-danger mb-2">
            <span>@Html.NonModelError()</span>
        </div>
    }
    @Html.AntiForgeryToken()
    <div class="form-group mb-1">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Email" />
        <span class="text-danger text-small">@Html.ValidationMessage(nameof(Model.Email))</span>
    </div>
    <div class="d-block w-100 my-3">
        <button class="btn btn-primary w-100" type="submit">Submit</button>
    </div>
    <div class="d-block text-center">
        <a class="link" href="@Url.LoginAction(ViewData)">I remembered my password.</a>
    </div>
</form>