@model IForgotPasswordRequest
@{
    Layout = "_AuthLayout";
    ViewData.SetTitle(Localizer[Titles.ForgotPassword]);
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/ForgotPassword.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<form action="@Url.ForgotPasswordAction()" method="post" class="auth-form">
    <t element="h5" class="text-center">@Titles.ForgotPassword</t>
    @if (Html.HasNonModelError())
    {
        <div class="alert alert-danger mb-2">
            <t>@Html.NonModelError()</t>
        </div>
    }
    @Html.AntiForgeryToken()
    <div class="form-group mb-1">
        <t element="label">@Properties.Email</t>
        <input type="email" class="form-control" asp-for="Email" placeholder="@Localizer[Properties.Email]" />
        <t class="text-danger text-small" strip-html="true">@Html.ValidationMessage(nameof(Model.Email))</t>
    </div>
    <div class="d-block w-100 my-3">
        <button class="btn btn-primary w-100" type="submit"><t>@ActionsTexts.ForgotPasswordSubmit</t></button>
    </div>
    <div class="d-block text-center">
        <a class="link" href="@Url.LoginAction(ViewData)"><t>@ActionsTexts.IRememberedMyPassword</t>.</a>
    </div>
</form>