@model Definux.Emeraude.Application.Requests.Identity.Commands.Login.LoginCommand
@{
    Layout = "_AuthLayout";
    ViewData.SetTitle("Login");
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/Login.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<partial name="_ExternalLoginForm" />
<form action="@Url.LoginAction(ViewData)" method="post" class="auth-form">
    <h5 class="text-center">Login</h5>
    @if (Html.HasNonModelError())
    {
        <div class="alert alert-danger mb-2">
            <span>@Html.NonModelError()</span>
        </div>
    }
    @Html.AntiForgeryToken()
    <div class="form-group mb-1">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Email" />
        <span class="text-danger text-small">@Html.ValidationMessage(nameof(Model.Email))</span>
    </div>
    <div class="form-group mb-1">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
        <span class="text-danger text-small">@Html.ValidationMessage(nameof(Model.Password))</span>
    </div>
    <a class="link" href="@Url.ForgotPasswordAction()">Forgot password?</a>
    <div class="d-block w-100 my-3">
        <button class="btn btn-primary w-100" type="submit">Login</button>
    </div>
    <div class="d-block w-100 text-center">
        <a class="link" href="@Url.RegisterAction()">Don't have a profile?</a>
    </div>
</form>