@model Definux.Emeraude.Application.Requests.Identity.Commands.Register.RegisterCommand
@{
    Layout = "_AuthLayout";
    ViewData.SetTitle(Localizer[Titles.Register]);
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/Register.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<partial name="_ExternalLoginForm" />
<form action="/register" method="post" class="auth-form">
    <t element="h5" class="text-center">@Titles.Register</t>
    @if (Html.HasNonModelError())
    {
        <div class="alert alert-danger mb-2">
            <t>@Html.NonModelError()</t>
        </div>
    }
    @Html.AntiForgeryToken()
    <div class="form-group mb-1">
        <t element="label">@Properties.Name</t>
        <input type="text" class="form-control" asp-for="Name" placeholder="@Localizer.TranslateKey(Properties.Name)" />
        <t class="text-danger text-small" strip-html="true">@Html.ValidationMessage(nameof(Model.Name))</t>
    </div>
    <div class="form-group mb-1">
        <t element="label">@Properties.Email</t>
        <input type="email" class="form-control" asp-for="Email" placeholder="@Localizer[Properties.Email]" />
        <t class="text-danger text-small" strip-html="true">@Html.ValidationMessage(nameof(Model.Email))</t>
    </div>
    <div class="form-group mb-1">
        <t element="label">@Properties.Password</t>
        <input type="password" class="form-control" asp-for="Password" placeholder="@Localizer[Properties.Password]" />
        <t class="text-danger text-small" strip-html="true">@Html.ValidationMessage(nameof(Model.Password))</t>
    </div>
    <div class="form-group mb-1">
        <t element="label">@Properties.ConfirmedPassword</t>
        <input type="password" class="form-control" asp-for="ConfirmedPassword" placeholder="@Localizer[Properties.ConfirmedPassword]" />
        <t class="text-danger text-small" strip-html="true">@Html.ValidationMessage(nameof(Model.ConfirmedPassword))</t>
    </div>
    <div class="d-block w-100 my-3">
        <t element="button" class="btn btn-primary w-100" type="submit">@ActionsTexts.RegisterSubmit</t>
    </div>
    <div class="d-block w-100 text-center">
        <a class="text-small" href="@Url.LoginAction(ViewData)"><t>@ActionsTexts.AlreadyHaveAProfile</t>?</a>
    </div>
</form>