@model Definux.Emeraude.Application.Requests.Identity.Commands.ResetPassword.ResetPasswordCommand
@{
    Layout = "_AuthLayout";
    ViewData.SetTitle(Localizer[Titles.ResetPassword]);
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/ResetPassword.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<form action="@Url.ResetPasswordAction()" method="post" class="auth-form">
    <t element="h5" class="text-center">@Titles.ResetPassword</t>
    @if (Html.HasNonModelError())
    {
        <div class="alert alert-danger mb-2">
            <t>@Html.NonModelError()</t>
        </div>
    }
    @Html.AntiForgeryToken()
    <div>
        <input type="hidden" asp-for="Email">
        <input type="hidden" asp-for="Token">
    </div>
    <div class="form-group mb-1">
        <t element="label">@Properties.Password</t>
        <input class="form-control" type="password" asp-for="Password" placeholder="@Localizer[Properties.Password]" />
        <span class="text-danger text-small">@Html.ValidationMessage(nameof(Model.Password))</span>
    </div>
    <div class="form-group mb-1">
        <t element="label">@Properties.ConfirmedPassword</t>
        <input class="form-control" type="password" asp-for="ConfirmedPassword" placeholder="@Localizer[Properties.ConfirmedPassword]" />
        <span class="text-danger text-small">@Html.ValidationMessage(nameof(Model.ConfirmedPassword))</span>
    </div>

    <div class="d-block w-100 my-3">
        <t element="button" class="btn btn-primary w-100" type="submit">@ActionsTexts.ResetPasswordSubmit</t>
    </div>
</form>