@model Definux.Emeraude.Application.Requests.Identity.Commands.ResetPassword.ResetPasswordCommand
@{
    Layout = "_AuthLayout";
    ViewData.SetTitle("Reset Password");
    var predefinedViewMessageModel = new PredefinedViewMessageModel("Views/Client/Authentication/ResetPassword.cshtml", "https://emeraude.dev/client");
}

<partial name="_EmeraudeClientPredefinedMessage" model="predefinedViewMessageModel" />

<form action="@Url.ResetPasswordAction()" method="post" class="auth-form">
    <h5 class="text-center">Reset Password</h5>
    @if (Html.HasNonModelError())
    {
        <div class="alert alert-danger mb-2">
            <span>@Html.NonModelError()</span>
        </div>
    }
    @Html.AntiForgeryToken()
    <div>
        <input type="hidden" asp-for="Email">
        <input type="hidden" asp-for="Token">
    </div>
    <div class="form-group mb-1">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" asp-for="Password" placeholder="Password" />
        <span class="text-danger text-small">@Html.ValidationMessage(nameof(Model.Password))</span>
    </div>
    <div class="form-group mb-1">
        <label class="form-label">Confirmed Password</label>
        <input class="form-control" type="password" asp-for="ConfirmedPassword" placeholder="Confirmed Password" />
        <span class="text-danger text-small">@Html.ValidationMessage(nameof(Model.ConfirmedPassword))</span>
    </div>

    <div class="d-block w-100 my-3">
        <button class="btn btn-primary w-100" type="submit">Reset Password</button>
    </div>
</form>