@using Definux.Emeraude.Client.UI.Adapters
@if (OptionsProvider.GetOptionValue<bool>("IdentityOptions:HasExternalAuthentication"))
{
    @inject IExternalAuthenticationProvidersCollection ExternalAuthenticationProvidersCollection
    <h6 class="text-center">@Titles.ContinueWith</h6>
    <div>
        <form action="@Url.ExternalLoginAction(ViewData)" method="post" class="auth-form">
            @Html.AntiForgeryToken()
            <div class="row">
                @foreach (var provider in ExternalAuthenticationProvidersCollection.ExternalProviders)
                {
                    <div class="col-12 mb-2">
                        <button class="btn btn-primary w-100" name="externalProvider" value="@provider" type="submit">@provider</button>
                    </div>
                }
            </div>
        </form>
    </div>
}