@inject NavigationManager NavigationManager
@if (Model.NextPagesCount != 0 || Model.PreviousPagesCount != 0)
{
    <nav class="d-flex mt-4">
        <ul class="pagination m-auto">
            @if (Model.PreviousPage != null && Model.PreviousPagesCount > 0)
            {
                <li class="page-item mx-0">
                    <NavLink class="btn btn-primary p-2" href="@Model.GetPaginationHref(Model.PreviousPage, NavigationManager)">
                        <i class="mdi mdi-arrow-left-bold mx-auto"></i>
                    </NavLink>
                </li>
            }
            @if (Model.PreviousPagesCount > 0)
            {
                foreach (var previousPage in Model.PreviousPages)
                {
                    <li class="page-item ms-1 me-0">
                        <NavLink class="btn btn-primary p-2" href="@Model.GetPaginationHref(previousPage, NavigationManager)">
                            @previousPage
                        </NavLink>
                    </li>
                }
            }
            <li class="page-item active mx-1 mb-0">
                <button disabled="disabled" class="btn btn-secondary p-2">@Model.CurrentPage</button>
            </li>
            @if (Model.NextPagesCount > 0)
            {
                foreach (var nextPage in Model.NextPages)
                {
                    <li class="page-item me-1 ms-0">
                        <NavLink class="btn btn-primary p-2" href="@Model.GetPaginationHref(nextPage, NavigationManager)">
                            @nextPage
                        </NavLink>
                    </li>
                }
            }
            @if (Model.NextPage != null && Model.NextPagesCount > 0)
            {
                <li class="page-item mx-0">
                    <NavLink class="btn btn-primary p-2" href="@Model.GetPaginationHref(Model.NextPage, NavigationManager)">
                        <i class="mdi mdi-arrow-right-bold mx-auto"></i>
                    </NavLink>
                </li>
            }
        </ul>
    </nav>
}

@code {
    [Parameter]
    public PaginationModel Model { get; set; }
}