@model RegisterRequest
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = await Localizer.TranslateKeyAsync("REGISTER");
}

<form action="@Url.RegisterAction()" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group mb-1">
        <t element="label" class="mb-0">FULL_NAME</t>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger text-small"><t>@Html.ValidationMessage(nameof(Model.Name))</t></span>
    </div>
    <div class="form-group mb-1">
        <t element="label" class="mb-0">EMAIL</t>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger text-small"><t>@Html.ValidationMessage(nameof(Model.Email))</t></span>
    </div>
    <div class="form-group mb-1">
        <t element="label" class="mb-0">PASSWORD</t>
        <input class="form-control" type="password" asp-for="Password" />
        <span class="text-danger text-small"><t>@Html.ValidationMessage(nameof(Model.Password))</t></span>
    </div>
    <div class="form-group mb-1">
        <t element="label" class="mb-0">CONFIRM_PASSWORD</t>
        <input class="form-control" type="password" asp-for="ConfirmedPassword" />
        <span class="text-danger text-small"><t>@Html.ValidationMessage(nameof(Model.ConfirmedPassword))</t></span>
    </div>
    <div class="d-block w-100 mt-3">
        <button class="btn btn-primary btn-lg btn-shadow w-100" type="submit"><t>REGISTER</t></button>
    </div>
    <div class="form-group mb-1 text-center">
        <span class="text-danger text-small"><t>@Html.ValidationSummary(true)</t></span>
    </div>
    <div class="d-block w-100 text-center">
        <a class="text-small" href="@Url.LoginAction(ViewData)"><t>ALREADY_HAVE_A_PROFILE</t></a>
    </div>
</form>